* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  font-size: 24px;
  padding: 10px 12px;
  border: none;
  background-color: rgb(80, 80, 226);
  border-radius: 10px;
  margin: 12px 0;
  transition: all 300ms ease;
}
.btn:hover {
  cursor: pointer;
  background-color: blue;
}
.delete__btn {
  background-color: red;
  margin-left: 12px;
}
.delete__btn:hover {
  background-color: brown;
}
.fa-passport {
  color: white;
}
.fa-xmark {
  color: white;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*TABLE*/
.table {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  padding-top: 42px;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 105px -45px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 105px -45px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 105px -45px rgba(0, 0, 0, 0.75);
}
.table__wrapper{
  position: fixed;
  top: 2%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table__header {
  font-size: 24px;
}
.table__input{
  width: 25%;
  height: 30px;
  padding-left: 6px;
  font-size: 14px;
}

.rdt_TableHeadRow {
  background-color: rgb(60, 158, 223) !important;
  padding: 12px 6px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 20px;
}
.rdt_Table{
  height: 800px !important;
}

/*MODAL*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  padding: 24px;
}
.modal__wrapper{
  position: relative;
}
.modal__btn{
  position: absolute;
  font-size: 24px;
  padding: 4px;
  border: none;
  background-color: transparent;
  top: -3%;
  right: 0;
  cursor: pointer;
}

.shipment__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.shipment__detail {
  width: 45%;
  margin: 24px 12px;
}

.shipment__detail--title {
  margin-bottom: 6px;
  font-weight: bold;
  color: rgb(51, 49, 49);
}
.shipment__detail--info {
  background-color: lightgray;
  padding: 12px 6px;
  opacity: 0.6;
  border-radius: 10px;
  cursor: default;
  padding-left: 12px;
  width: 100%;
  border: none;
  font-weight: bold;
  font-size: 18px;
}
